.category-img {
    padding: 30px 100px;
    background-image: url(https://www.yogiyo.co.kr/mobile/image/bg-top.png?v=1);
    background-color: #3b2114;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.menu-container{
    border-bottom: 1px solid black;
    width: 100%;
    position: -webkit-sticky;
    top:10px;
}
.menu-list{
    list-style-type: none;
    display: flex;
    width: 1000px;
    margin: 0 auto;
}
.menu-list li{
    position: relative;
    text-align: center;
    padding: 0 12px;
    height: 50px;
    font-size: .8em;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-list li:first-child:before{
    display: none;
}
.menu-list li:hover, .selected{
    background-color: #333;
    color:white;
}
.menu-list li:first-child:hover{
    background-color: transparent;
}
.menu-list li:hover::before,.selected::before{
    background-color: #333;
}
.menu-list li::before{
    width: 1px;
    content: "";
    height: 20px;
    position: absolute;
    top:15px;
    left:0;
    background-color: #beb9b9;
}
.restaurant-container{
    display: flex;
    width: 986px;
    margin: 20px auto;
    column-gap: 20px;
}
.main-item{
    width: 620px;
    height: 500px;
    box-sizing: border-box;
}
.food-img img{
    width: 85px;
}
.restaurant-title{
    font-size: 1.5em;
    padding: 10px;
}
.food-img{
    padding: 10px;
    box-sizing: border-box;
}
.food-info{
    padding: 10px 0;
}
.restaurant-item{
    width: 100%;
    height: 110px;
    border: 1px solid #d9d9d9;
    display: flex;
}
.food-menu{
    display: flex;
    margin-top: 20px;
}
.food-menu-item{
    width:34%;
    height: 45px;
    border: 1px solid #d9d9d9;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.food-menu-selected {
    border: 0;
    border-bottom: 5px solid #fa0050;
    color: #fa0050;
}
.food-list{
    width: 100%;
    position: relative;
}
.panel-heading {
    color: #333;
    background-color: #e6e6e6;
    border-radius: 0;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-title a {
    display: block;
    padding: 10px 15px;
}
.menu-name.pop-menu {
    background-image: url(https://www.yogiyo.co.kr/mobile/image/ico_favmenu.png);
    background-repeat: no-repeat;
    background-position: 0 8px;
    background-size: 20px 20px;
    padding-left: 22px;
    padding-right: 0 !important;
}
.icon-arr-down {
    background: url(https://www.yogiyo.co.kr/mobile/image/sprite-icon.png?v=9f40842b5baddecae3aa0f8699dbcde6250d5992) no-repeat -150px -47px;
    background-size: 350px;
    display: inline-block;
    position: absolute;
    right:10px;
    width: 16px;
    height: 16px;
    margin: 8px 0px 0 0;
}
.clearfix{
    position: relative;
}
.icon-arr-up {
    background: url(https://www.yogiyo.co.kr/mobile/image/sprite-icon.png?v=9f40842b5baddecae3aa0f8699dbcde6250d5992) no-repeat -186px -47px;
    background-size: 350px;
    position: absolute;
    right:10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 8px 0px 0 0;
}

.popular-menu{
    width: 100%;
    background-color: #fff;
    padding: 0;
}
.popular-menu li{
    padding: 12px 10px 12px 15px;
    border: 1px solid #d9d9d9;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.menu-text-title{
    color: #333;
    font-weight: bold;
    line-height: 1.4;
    padding-top: 5px;
}
.menu-text-info{
    padding: 10px 0;
    font-size: .73em;
    color: #999;
}
.menu-text-price{
    color: #333;
    font-weight: normal;
}
.review-title{
    font-size: 1.2em;
    padding: 10px 0;
}
.review-img img{
    width: 500px;
}
.review-content{
    padding: 10px 0;
}
.restaurant-review{
    border: 1px solid #d9d9d9;
    padding: 0 10px;
}
.restaurant-info{
    padding: 10px;
}
.restaurant-info .info-item-title {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #999;
    padding: 0 0 7px 20px;
    margin-bottom: 18px;
    background-size: 16px;
}
.restaurant-info .info-icon {
    background: url(https://www.yogiyo.co.kr/mobile/image/ic_owner_notice@3x.png?v=9f40842b5baddecae3aa0f8699dbcde6250d5992) no-repeat 0 1px;
    background-size: 20px;
}
.info-icon1 {
    background: url(https://www.yogiyo.co.kr/mobile/image/ic_info_res.png?v=9f40842b5baddecae3aa0f8699dbcde6250d5992) no-repeat 0 1px;
    background-size: 20px;
}
.info-item p {
    color: #333;
    font-size: 14px;
}
.info-item{
    padding: 10px 0;
}
.info-item i {
    color: #999;
    font-style: normal;
    display: inline-block;
    width: 95px;
    letter-spacing: -1px;
}
.sub-title {
    background-color: #333;
    color: #fff;
    font-size: 110%;
    padding: 10px 10px 10px 15px;
}
.order-sheet{
    width: 100%;
}
.cart-empty {
    background: #fff;
    text-align: center;
    padding: 50px 0;
    border: 1px solid #d9d9d9;
}
.btn-ygy1 {
    color: white;
    background-color: #fa0050;
    border: none;
    width: 100%;
    padding: 10px 0;
}
.order-table-text{
    text-align: right;
    padding: 10px 0;
}